# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/local.properties
catalog.xml
rebel.xml
velocity.log
nbactions.xml
nb-configuration.xml
nbactions-deploy.xml
.settings/
.project
.classpath
_sprite.*
*.idea
*.iml
target/
node_modules/
dist/
.tern-project
